pkgbase = zkapi-clientd-bin
	pkgdesc = Local inference API with private prepaid zkAPI access
	pkgver = 0.1.3
	pkgrel = 1
	url = https://github.com/ethereum/zkapi
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = ca-certificates
	depends = glibc>=2.39
	depends = gcc-libs
	depends = openssl>=3
	optdepends = systemd: user service management
	options = !strip
	provides = zkapi-clientd
	conflicts = zkapi-clientd
	source_x86_64 = zkapi-clientd_0.1.3_linux_amd64.tar.gz::https://github.com/ethereum/zkapi/releases/download/clientd-v0.1.3/zkapi-clientd_0.1.3_linux_amd64.tar.gz
	sha256sums_x86_64 = fa9184770e7864cd71ac8081545a4e55036924dbae456632244682b8541addf5
	source_aarch64 = zkapi-clientd_0.1.3_linux_arm64.tar.gz::https://github.com/ethereum/zkapi/releases/download/clientd-v0.1.3/zkapi-clientd_0.1.3_linux_arm64.tar.gz
	sha256sums_aarch64 = 1eb8b36618341aa406f6b83b2843c30dbadd5ad08dc86111f94961594b5bc26b

pkgname = zkapi-clientd-bin
