pkgbase = zkapi-clientd-bin
	pkgdesc = Local inference API with private prepaid zkAPI access
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/OpenAnonymity/zkapi
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = ca-certificates
	depends = glibc>=2.39
	depends = gcc-libs
	depends = openssl>=3
	optdepends = systemd: user service management
	options = !strip
	provides = zkapi-clientd
	conflicts = zkapi-clientd
	source_x86_64 = zkapi-clientd_0.1.2_linux_amd64.tar.gz::https://github.com/OpenAnonymity/zkapi/releases/download/clientd-v0.1.2/zkapi-clientd_0.1.2_linux_amd64.tar.gz
	sha256sums_x86_64 = 11f8e24d7612a8bd28981194a5fa4999ae0cccbd50366364f14a8ce1e7d63497
	source_aarch64 = zkapi-clientd_0.1.2_linux_arm64.tar.gz::https://github.com/OpenAnonymity/zkapi/releases/download/clientd-v0.1.2/zkapi-clientd_0.1.2_linux_arm64.tar.gz
	sha256sums_aarch64 = 89f719dceeed67d40a6da75ff6aae2eb51feae63724067ee5d6d569f3308e1c7

pkgname = zkapi-clientd-bin
